{% extends 'incident_app/base.html' %}
{% block style %}

<style>
   .login-card {
    margin: auto;
    margin-top: 10%;
}
    .mdl-card__title{
    background: rgb(63,81,181);
    color: #ffffff
    }
</style>
{% endblock %}

{% block content %}
<div class="demo-card-wide mdl-card mdl-shadow--2dp login-card" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Forgot Password</h2>
  </div>
    <form action="#" method="POST"> {% csrf_token %}
        <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" id="email" name="email">
                <label class="mdl-textfield__label" for="email">Please enter valid email</label>
              </div>
            </div>

        <div class="mdl-card__supporting-text" style="text-align:right">
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Submit
        </button></div>
</form>




</div>
<script>
$('input#submitButton').click( function() {
    $.ajax({
        url: '/forget_password/',
        type: 'post',
        dataType: 'json',
        data: $('form#myForm').serialize(),
        success: function(data) {
                   alert(data)
                 }
    });
});
</script>
{% endblock %}